.html, body {
    padding: 0px;
    margin: 0px;
}

.nav-container {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgba(5, 10, 32, 0.925);
    height: 70px;
    width: 100%;
    color: white;
    

}

.nav-left {
    position: absolute;
    left: 40px;
    top: 20px;

}

.nav-right {
    position: absolute;
    left: 1490px;
    top: 20px;
}

span {
    display: inline-block;
}

.mySpan {
    padding-right: 60px;
    color: white;
    font-weight: bold;
}

.logoImg {
    position: absolute;
    max-width: 200px;
    max-height: 200px;
    top: -90px;
    left: 250px;
}

.logoImg:hover {
    cursor: pointer;
}

.speechBox {
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: -100px;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid rgb(177, 177, 177);
    color: black;
    font-size: 10px;
}

.signIn-btn {
    padding: 6px 20px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: yellow;
    
    

}

.second-line{
    display: flex;

}

.newCustomer{
    margin-right: 6px;
}

.account-sections {
    display: flex;
    flex-direction: column;
}

.username {
    color: white;
}