.html, body {
    padding: 0px;
    margin: 0px;
}

.navContainer {
    position: absolute;
    width: 100vw;
    
    top: 0%;
    height: 60vh;
}

.nav-controls {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(19, 25, 33);
    height: 62px;
    width: 100vw;
    
}


.logoImg {
    height: 5vh;
    width: 10vw;
}



.nav-left {
    margin-left: 5vw;
    margin-top: 0.5vh;
}
.nav-right {
    flex-direction: row;
    display: flex;
    margin-right: 10px;
    align-items: center;
    margin-right: 5vw;
    font-size: 0.9vw;

    
}


.mySpan {
    margin-right: 1vw;
    align-items: center;
    color: white;
    font-weight: bold;
}

.speechBox {
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 75vw;
    padding: 1vw;
    border-radius: 6px;
    border: 1px solid rgb(177, 177, 177);
    color: black;
    font-size: 0.5vw;
    top: 5.2vh;
}

.signIn-btn {
    padding: 6px 20px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: yellow;
    font-size: 0.9vw;
    
    

}

.second-line{
    display: flex;

}

.newCustomer{
    margin-right: 6px;
}

.account-sections {
    display: flex;
    flex-direction: column;
    color: white;
    
}

.username {
    font-size: 0.9vw;
    color: white;
}

.basket {
    color: white;
}

