.html, body {
    background-color: rgb(214, 212, 212);
}

.container {
    width: 100%;
    
}

.promoImg {
    
    width: 80%;
    position: absolute;
    left: 200px;
    top: 10.3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
     
    
   
}



.header {
    
    position: relative;
    top: 340px;
    left: 300px;
    z-index: 2;
    font-weight: 700;
    font-size: 20px;
    
}

.header2 {
    position: relative;
    top: 340px;
    left: 550px;
    z-index: 2;
    font-weight: 700;
    font-size: 20px;
    
}

.header3 {
    position: relative;
    top: 340px;
    left: 780px;
    z-index: 2;
    font-weight: 700;
    font-size: 20px;
    
}

.header4 {
    position: relative;
    top: 340px;
    left: 1050px;
    z-index: 2;
    font-weight: 700;
    font-size: 20px;
    
}

.header-line {
    display: flex;
    flex-direction: row;
    
}

.header6 {
    position: relative;
    top: 340px;
    left: 450px;
    z-index: 2;
    font-weight: 700;
    font-size: 20px;
}

.header7 {
    position: relative;
    top: 340px;
    left: 680px;
    z-index: 2;
    font-weight: 700;
    font-size: 20px;
}

.header8 {
    position: relative;
    top: 340px;
    left: 950px;
    z-index: 2;
    font-weight: 700;
    font-size: 20px;
}

.header9 {
    position: relative;
    top: 340px;
    left: 950px;
    z-index: 2;
    font-weight: 700;
    font-size: 20px;
}

.header10 {
    position: relative;
    top: 340px;
    left: 950px;
    z-index: 2;
    font-weight: 700;
    font-size: 20px;
}

.header11 {
    position: relative;
    top: 340px;
    left: 950px;
    z-index: 2;
    font-weight: 700;
    font-size: 20px;
}

