

.row-container {
    position: absolute;
    top: 6%;
    width: 100%;
    background-color: rgb(6, 19, 75);
    padding: 10px;
    color: white;
    display: flex;
    max-height: 3%;

    justify-content: center;
}

.spanEl {
    padding-right: 20px;
    color: white;

}

.menu {
    position: relative;
    left: -23%;
}