

.row-container {
    position: absolute;

    top: 60px;
    width: 100%;

    background-color: rgb(35, 47, 62);
    padding-top: 9px;
    padding-bottom: 9px;
    color: white;
    display: flex;
    height: 21px;

    justify-content: center;
}

.spanEl {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-right: 1vw;
    color: white;
    top: 2%;
    max-height: 21px;
    font-size: clamp( 0.9vw, 0.9vw, 0.9vh);
    align-items: center;
    
    

}

.menu {
    position: relative;
    left: -23%;
    
    
}