

.row-container {
    position: relative;
    top: 40px;
    background-color: rgb(185, 185, 185);
    padding: 10px;
    color: white;
    display: flex;
    
    justify-content: center;
}

.spanEl {
    padding-right: 20px;
}

.menu {
    position: absolute;
    left: 10px;
}