.html, body {
    padding: 0%;
    margin: 0%;
}

.container {
    z-index: 9;
    width: 50%;

}

.aligner {
    display: flex;
    
}

.inputBar {
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    border-style: none;
}

@media (max-width: 400px) {
    .inputBar {
        width: 50%;
        border-radius: 5px 0px 0px 5px;
        padding: 10px;
        border-style: none;
    }

    .container {
        position: absolute;
        left: 30%;
        top: 1.5%;
        z-index: 9;
        width: 50vw;
        width: 50%;
        display: none;
    }
}

.inputBtn {
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    border-style: none;
    background-color: rgb(243,204,108);
}

.inputBar:focus {
    outline: none;
    border: 3px solid rgb(255, 184, 3);
}

.inputBtn:disabled {
    color: black;
}

.search-icon{
    /* font-size: 10px; */
    font-size: 80%;
    
}

.inputBtn:hover {
    cursor: pointer;
    background-color: rgb(255, 192, 32);
}