.html, body {
    padding: 0%;
    margin: 0%;
}

.container {
    position: absolute;
    left: 25%;
    top: 1.3%;
    z-index: 9;
    width: 50%;
}

.aligner {
    display: flex;
    flex-direction: row;
}

.inputBar {
    /* width: 900px; */
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    border-style: none;
}

@media (max-width: 400px) {
    .inputBar {
        /* width: 900px; */
        width: 50%;
        border-radius: 5px 0px 0px 5px;
        padding: 10px;
        border-style: none;
    }

    .container {
        position: absolute;
        left: 30%;
        top: 1.5%;
        z-index: 9;
        width: 50vw;
        width: 50%;
    }
}

.inputBtn {
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    border-style: none;
    background-color: yellow;

}

.search-icon{
    /* font-size: 10px; */
    font-size: 80%;
    
}

.inputBtn:hover {
    cursor: pointer;
    background-color: rgb(241, 241, 0);
}