* {
    margin: 0px;
    padding: 0px;
}

.background {
    background-color: white;
    width: 100%;
    height: 100%;
}

.login-container {
    position: absolute;
    left: 40%;
    top: 40%;
    display: flex;
    justify-items: center;
    border: 1px solid rgb(192, 192, 192);
    background-color: white;
    border-radius: 10px;
    width: 300px;

}

.sign-in-title {
    font-size: 30px;
}

.form-box {
    
    width: 200px;
    height: 250px;
}

.username {
    position: relative;
    padding: 8px 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;

    
}

.password {
    position: relative;
    padding: 8px 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 8px;
    right: 1%;

    
}

.btn {
    position: relative;
    padding: 8px 60px;
    border-style: none;
    border-radius: 5px;
    background-color: yellow;
    left: 10%;
    margin: 8px;

}

.box-pos {
    position: relative;
    left: 20%;
    top: 10%;
}