* {
    margin: 0px;
    padding: 0px;
}

.sideOpts {
    position: absolute;
    top: 15%;
    font-size: 1vw;
    
}


.middle {
    position: absolute;
    left: 30%;
    top: 15%;
}

.mid-col-title {
    font-size: 1.8vw;
}

.delivery {
    position: relative;
    padding-bottom: 10px;
    
}

.delivery-day {
    position: relative;
    padding-bottom: 10px;
    
}

.price-range {
    position: relative;
    padding-bottom: 10px; 
}

.price-select {
    position: relative;
    
}

.bar-size {
    position: relative;
    width: 2vw;
    padding: 5px;
    margin-right: 5px;
    border-radius: 2px;
    border: 1px solid rgb(158, 158, 158);
    font-size: 0.7vw;
}

.bar-btn {
    padding: 5px;
    border-radius: 5px;
    border: solid 1px rgb(158, 158, 158);
    font-size: 0.7vw;
}

.checkbox {
    transform: scale(0.5);
}