.navbar {
    position: absolute;
    width: 100vw;
    height: 19.2px;
    border-bottom: 1px solid rgb(194, 194, 194);
    display: flex;
    flex-direction: row;
    top: 103px;
    font-size: 0.6vw;
    align-items: center;
    


}

.wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-top: 5vh;
}

.nav-el {
    height: 24.4px;
    width: 100vw;
    background-color: white;
    padding: 3px;
    align-items: center;
    display: flex;
    
 
}



.segments {
    position: absolute;
    font-size: 1vh;
    margin-top: 6vh;
}

.account-title {
    font-weight: 700;
    font-size: 1.5vw;
    margin-right: 40vw;
}

.segment {
    border-radius: 10px;
    border: 1px solid rgb(199, 198, 198);
    background-color: white;
    height: 13vh;
    width: 19.4vw;
    margin-right: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.segment a {
    color: black;
}

.segment:hover {
    filter: brightness(0.90);
    cursor: pointer;
}

.seg-row {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}


.tabs {

    margin-top: 50vh;
}

.tab {
    width: 19.4vw;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(199, 198, 198);
    height: 28vh;
    margin-right: 2vh;
    margin-bottom: 20px;
}

.tab-row {
    display: flex;
    flex-direction: row;
}

.tab-title {
    font-size: 1vw;
    font-weight: 650;
    padding: 5%;
}

.tab-span {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    padding-left: 5%;
    font-size: 0.85vw;
}

.order-img {
    max-height: 8vh;
    max-width: 4vw;
}

.segtxt {
    margin-left: 0.5vw;
}

.segtitle {
    font-size: 1vw;
    font-weight: 500;
}

.seginfo {
    font-size: 0.75vw;
    max-width: 11vw;
    color:rgb(82, 82, 82)
}


@media (max-width: 400px) {
    .wrapper {
        margin-top: 70px;
    }
}