.navbar {
    position: fixed;
    width: 100vw;
    height: 1vh;
    border-bottom: 1px solid rgb(194, 194, 194);
    display: flex;
    flex-direction: row;
    top: 107px;
    font-size: 0.6vw;
    align-items: center;
    


}



.nav-el {
    
    height: 2.2vh;
    width: 100vw;
    background-color: white;
    padding: 3px;
    align-items: center;
    
 
}



.segments {
    position: absolute;
    top: 20vh;
    left: 25vw;
    font-size: 1vh;
}

.account-title {
    display: flex;
    flex-direction: row;
    top: 14vh;
    left: 25vw;
    font-weight: 700;
    font-size: 1.5vw;
}

.segment {
    border-radius: 10px;
    border: 1px solid rgb(199, 198, 198);
    background-color: white;
    height: 10vh;
    width: 16vw;
    margin-right: 2vh;
}

.seg-row {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.line {
    position: absolute;
    top: 50%;
}

.tabs {
    position: absolute;
    left: 24.6vw;
    top: 60vh;
}

.tab {
    width: 16vw;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(199, 198, 198);
    height: 32vh;
    margin: 10px;
}

.tab-row {
    display: flex;
    flex-direction: row;
}

.tab-title {
    font-size: 1vw;
    font-weight: 650;
    padding: 5%;
}

.tab-span {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    padding-left: 5%;
    font-size: 0.85vw;
}

.order-img {
    position: relative;
    max-height: 8vh;
    max-width: 4vw;
    top: 1vh;
    left: 1vw;
}

.pos-set {
    position: absolute;
    left: -5vw;
}

.segtxt {
    position: relative;
    top: -5vh;
    left: 5vw;
}

.segtitle {
    font-size: 1vw;
    font-weight: 500;
}

.seginfo {
    font-size: 0.75vw;
    max-width: 11vw;
}

/* @media (max-width: 400), (max-height: 700) {
    .seginfo {
        font-size: 1.5vh;
    }
} */