:root {
    --font-size: 23px;
}

li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    
    
}

.dropdown {
    position: absolute;
    z-index: 9;

    
    
    
    
}

.dropdown svg {
    fill: white;
    display: flex;
    justify-content: flex-start;
}

.screen {
    position: absolute;
    width: 300px;
    color: black;
    
    
    
     
}

.menu {
    cursor: pointer;

}



.headerSize:hover {
    font-size: var(--font-size);
}

.backBox {
    position: absolute;
    top: 0px;
    background-color: white;
    height: 860px;
    width: 300px;
    z-index: -3;
    border-radius: 10px;
    
}