* {
    margin: 0px;
    padding: 0px;
}

.image-opts {
    position: relative;
    max-height: 15vh;
    max-width: 5vw;
    min-height: 15%;
    min-width: 15%;
    /* max-height: 150px;
    max-width: 150px;
    min-height: 150px;
    min-width: 150px; */
}

.prod-left {
    position: relative;
    padding-bottom: 20px;

}
.prod-right {
    position: relative;
    left: 2vw;
    
}

.aligner {
    display: flex;
    flex-direction: row;
}

.title {
    padding-bottom: 5px;
    color: black;
    font-size: 2vh;
    
}

.title:hover {
    color: orange;
}

.rating {
    padding-bottom: 5px;
}

.star {
    color: yellow;
}
.rate-row{
    display: flex;
    flex-direction: row;
}

.starholder {
    padding-right: 10px;
    font-size: 0.9vw;
}

.reviews {
    font-size: 0.9vw;
}

.price {
    font-size: 0.9vw;
}

.del-date {
    font-size: 0.9vw;
}

.num-stars {
    font-size: 0.9vw;
}