* {
    padding: 0px;
    margin: 0px;
    
}

.layer {
    position: relative;

    align-items: center;
    justify-content: center;

}

.order-title {
    position: absolute;
    /* left: 220px; */
    left: 11.5%;
    /* top: -182px; */
    top: 11%;
    display: flex;
    /* font-size: 20px; */
    font-size: 1.2vw;

}

.stock {
    position: absolute;
    /* left: 220px; */
    left: 11.5%;
    top: 75%;
    
    /* font-size: 12px; */
    font-size: 0.7vw;
    color: green;
}

.price {
    position: absolute;
    /* font-size: 20px; */
    font-size: 1.2vw;
    /* left: 1348px; */
    /* left: 96.5%; */
    left: 98%;
    /* top: -235px; */
    top: 10%;
}

.tab-row {
    position: absolute;
    /* top: -120px; */
    top: 50.5%;
    /* left: 220px; */
    left: 11.5%;
    width: 25%;
    
}



.styleName {
    position: absolute;
    /* left: 220px; */
    left: 11.5%;
    /* top: -130px; */
    top: 32%;
    font-size: 0.8vw;
}

.row-el {
    padding-right: 10px;
    font-size: 0.8vw;
    




}
.info-tab {
    /* max-height: 250px; */
    max-height: 25%;
    position: relative;
    
}

.checkbox {
    position: relative;
    top: 4.5vh;
    left: -3%;
    transform: scale(1)

}

.order-img {
    position: relative;
    /* left: 30px; */
    left: -1%;
    /* max-height: 180px; */
    max-height: 0.8%;
    /* max-width: 180px; */
    max-width: 8%;
    /* min-height: 180px; */
    min-height: 0.8%;
    top: -1.5vh;
    


}

.total {
    position: absolute;
    /* left: 1225px; */
    left: 83.6%;
    font-size: 1.2vw;
}

.quantity-btn {
    border-radius: 10px;
    border: 1px solid rgb(211, 211, 211);
    padding: 2%;
}

.quantity-btn:focus {
    border: 1 solid rgb(0, 195, 255);
}