* {
    margin: 0%;
    padding: 0%;
    
}
.order-container {
    position: absolute;
    /* top: 250px; */
    top: 25%;
    /* margin: 30px; */
    margin: 1.5%;
    background-color: white;
    /* padding: 25px; */
    padding: 4%;
    /* width: 1400px; */
    width: 73.7%;
    height: auto;
    left: -0.5%;
    
}

.tab-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    

    
}

.del-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tab-title {
    font-size: 1.5vw;
}


.deselect {
    position: absolute;

    left: 2%;

    top: 10%;
    font-size: 0.9vw;
}

.divider {
    position: absolute;
    width: 97%;
    left: 1.7%;
}


.price-title {
    z-index: 9;
    font-size: 1vw;
}


.total {
    position: absolute;
    /* left: 1470px; */
    left: 101%;
    background-color: white;
    /* max-width: 350px; */
    /* max-width: 35%; */
    width: 14%;
    /* top: 0px; */
    top: 0%;
    /* padding: 20px; */
    padding: 2%;
    /* height: 70px; */
    height: 24%;
    font-size: 1vw;

}

.checkout {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* padding: 5px 20px; */
    padding: 1.5% 5.5%;
    border-style: none;
    background-color: yellow;
    /* left: 0px; */
    left: 12%;
    /* width: 350px; */
    width: 75%;
    height: 22.5%;

    /* top: 10px; */
    top: 50%;
    font-size: 0.8vw;
    
}

.subtotal {
    position: absolute;
    top: 20%;

}



.cont-shop {
    display: flex;
    flex-direction: row;
}

.line {
    padding-right: 0.5%;
}

.empty-bask-head {
    font-weight: 900px;
    
}

.del-btn {
    border-style: none;
    background: transparent;
    color: rgb(0, 204, 255);
    font-size: 0.9vw;
}