row-container {
    position: relative;
    display: flex;
}

.row {
    position: relative;

    /* width: 1350px; */
    width: 66.3%;
    height: 280px;
    top: 300px;
    /* left: 280px; */
    left: 17%;
    background-color: white;
    margin-bottom: 1%;

}
