.squares-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* left: 230px; */
    left: 16vw;
    top: 30vh;


    max-width: 70vw;

}

.square {
    position: relative;

    width: 15vw;
    height: 35.5vh;
    margin-left: 1.5vw;
    
    background-color: white;
    margin-bottom: 2vh;

    
    
}

.prod-img {
    position: relative;
    height: 20.2vh;
    width: 10vw;
    left: 2.6vw;
    top: 7.2vh;
}

.product-headers {
    position: absolute;
    top: 2.2vh;
    left: 2vw;
    font-weight: 700;
    font-size: 1.2vw;
    font-size: 2.3vh;
    color: black;
    
}